<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1280, user-scalable=yes" />
    <meta name="robots" content="all,follow" />

    <link rel="stylesheet" type="text/css" href="css/webix.css">
    <link rel="stylesheet" type="text/css" href="css/flat.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/webix.js" type="text/javascript"></script>
    <script src="js/erlchatsample.js" type="text/javascript"></script>

    @{head}
    @{favicon('favicon.ico')}
<head>
<body>

   @{body}
 
</body>
</html>