@{meta('Erlchat primitive example', 'Description', 'Erlchat, example')}

<div id="login_div"></div>

<script type="text/javascript">

    var loginForm = [{ view:"text", label:"Nickname"},
					 { view:"text", type:"password", label:"Password"},
                     { margin:5, cols:[
                         { view:"button", label:"Login", type:"form" },
                         { view:"button", label:"Cancel" }
                     ]}];

    webix.ui({
        rows:[
            {type: "header", template: "erlchat octahedron"},
            {container:"login_div",	view:"form", scroll:false, width:300, elements: loginForm}
        ]
    });

    function onLoginClick(){

    };
</script>